<!DOCTYPE html>
<html>
<head>


<meta http-equiv="refresh" content="6;URL='home.html'">
<title>Welcome</title>

<link rel="stylesheet" type="text/css" href={{=URL(r=request,c='static/styles',f='welcome_style.css')}} />
<link rel="stylesheet" type="text/css" href={{=URL(r=request,c='static/styles',f='splashscreen.css')}} />

<script type="text/javascript" src={{=URL(r=request,c='static/scripts',f='jquery.min.js')}}></script>
<script type="text/javascript" src={{=URL(r=request,c='static/scripts',f='jquery.splashscreen.js')}}></script>
<script type="text/javascript" src={{=URL(r=request,c='static/scripts',f='welcome.js')}}></script>

</head>
<body>

<div id="page">
<div id="promoIMG">
</div>
</div>

</body>
</html>
